* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    min-height: 0;
}

#waybar {
    background: @base;
    color: @text;
    margin: 5px 10px;
}

#window {
    margin: 5px 0 5px 0.5rem;
    padding: 0.5rem;
}

#workspaces {
    margin: 5px 0 5px 0.5rem;
    background-color: @surface0;
    border-radius: 1rem;
}

#workspaces button {
    color: @lavender;
    padding: 0.5rem;
}

#workspaces button.active {
    color: @sky;
}

#workspaces button:hover {
    color: @sapphire;
}

#cpu,
#memory,
#battery {
    background-color: @surface0;
    margin: 5px 0;
    padding: 0.5rem;
    border-radius: 0;
}

#wireplumber {
    background-color: transparent;
    margin: 5px 0;
    padding: 0.5rem;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#language {
    background-color: transparent;
    margin: 5px 0;
    padding: 0.5rem;
}

#clock {
    color: @blue;
    background-color: @surface0;
    border-radius: 0 1rem 1rem 0;
    padding: 0.5rem;
    margin: 5px 0.5rem 5px 0;
}

#mpris {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 5px 0 5px 0.5rem;
    padding: 0.5rem 1rem;
    color: @mauve;
}

#mpris.paused {
    color: @overlay0;
}

#tray {
    background-color: @surface0;
    margin: 5px 0 5px 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem 0 0 1rem;
}
